/* You can add global styles to this file, and also import other style files */
body,html {
    margin: 0;
    padding: 0;
}

.container {
    max-width:600px;
    margin:auto;
    .mat-form-field {
        margin-bottom: 28px;
        display: block;
    }
    .mat-raised-button.mat-accent,.mat-raised-button.mat-primary {
        float: right;
    }
    .mat-form-field-infix {
        width: 100%;
    }
}
